<!DOCTYPE html>
<html>
<head>
  <title>Todo1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="page">
      <div class="user_info">
        <% if logined? %>
          <span class="username"><%= current_user.username %></span> <%= link_to "退出", logout_path, method: :delete %>
        <% else %>
          <%= link_to "登陆", login_path %> <%= link_to "注册", new_user_path %>
        <% end %>
      </div>
      <div class="header box">
        <h1><a href="/">Todo List</a></h1>
      </div> <!-- header end -->

<%= yield %>
<div class="foot">
  Copyright &copy; <a href="http://codingirls.club" target="_blank">CGC <%= image_tag("rails.png") %></a>
</div> <!-- footer end -->
</div> <!-- page end -->
</body>
</html>
